*{
    padding: 0px;
    margin: 0px;
}
.container{
    background: #ffce9b;
    height: 100vw;
    padding: 50px; 
}
.container--principal{
    background: #114717;
    width: 450px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    
}
.grid-container {
    display: grid;
    grid-template-columns:  repeat(3, 150px);
    grid-template-rows: repeat( 3, 166px);
    align-self: stretch;
  }
  .grid-item {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    width: auto;
    
}
.grid-item i{
    color: #fff;
    position: relative;
    
}
.grid-end{
    grid-row-end: -1;
}   
.grid--parafuso--esquerda-cima i{
   position: relative;
   left: -50px; 
}
.grid--parafuso--esquerda-baixo i{
    position: relative;
    left: -50px;
    bottom: -120px; 
}
.grid--parafuso--direita-cima{
    position: relative;
    right: -50px; 
} 
.grid--parafuso--direita-baixo{
    position: relative;
    right: -50px;
    bottom: -120px; 
}
.grid--texto--central{
    background: #fff;
    height: 50px;
    border-radius: 0px;
}
.container--botao--branco{
    background: rgba(255, 255, 255, 0.5);
    height: 300px;
    width: 300px;
    position: relative;
    margin: 0 auto;
    top: -350px;
    z-index: 9999;
    border-radius: 50px 50px 20px 20px ;
   
}
.container--botao--vermelho{
    background: tomato;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 70px;
    
    
}
.container--botao--vermelho:hover{
    background: red;
    cursor: pointer;
   
}